<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Bandera</th>
            <th>País - Capital</th>
            <th>Población</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngIf="paises.length > 0"> <!--Se hay un resultado, muestra-->
        <tr *ngFor="let p of paises; let i = index" class="animate__animated animate__fadeIn">
            <td>{{i+1}}</td>
            <td><img [src]="p.flags.png" class="small-flag"></td>
            <!--<td>{{p.name.common}}, {{p.capital}}</td>-->
            <td>{{ p.name.common}}, {{ p.capital ? p.capital[0] : p.name.common + '*' }}</td> <!--1-->
            <td>{{p.population | number}}</td>
            <td><a [routerLink]="['/pais', p.cca2]">Ver detalles</a></td>
        </tr>
    </tbody>
</table>

<!--

p.cca2 hace de id -> path: "pais/:id", component: VerPaisComponent

1-> Para los países que no tienen definida la capital funciona:
El país tiene capital? o capital : o nombre del país

-->
